# api
fastapi[standard]
pydantic
python-dotenv

# llms
google-generativeai
groq

# ml
joblib
pandas
xgboost
scikit-learn
numpy

# vector db
langchain_community
langchain_text_splitters
chromadb
pypdf

# for notebooks and testing
ipykernel
pip